header.header
  .container
    .header__inner
      .logo
        a(href='#').logo__link
          img(src="static/images/common/logo.svg" alt="logo").logo__image
      nav.menu
        ul.menu__list
          li.menu__item.menu__item--current
            a(href="#").menu__link Home
          li.menu__item
            a(href="#").menu__link Start a Company
          li.menu__item
            a(href="#").menu__link Services
          li.menu__item
            a(href="#").menu__link Prices
          li.menu__item
            a(href="#").menu__link News
          li.menu__item
            a(href="#").menu__link Become a Partner
          li.menu__item
            a(href="#").menu__link About Us
      button(type="button").hamburger.hamburger--spring
        span.hamburger-box
          span.hamburger-inner
