footer { flex: 0 0 auto; }
.footer {
  background-color: var(--color-green);
  color: var(--color-white);
  &__title {
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.28px;
  }
  &__row {
    display: flex;
    padding: 40px 0 60px;
    transition: all linear .3s;
    &--close {
      transform: translateX(calc(-100% - 15px));
    }
  }
  &__link {
    margin-top: auto;
    margin-left: auto;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 25px;
    border: 2px solid var(--color-white);
    transform: translateY(20px);
    flex-shrink: 0;
  }
  &__col {
    max-width: 325px;
    width: 100%;
    margin-right: 30px;
  }
  &__item {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__copyright {
    background-color: #F3F3F1;
    &-text {
      color: var(--color-green);
      display: block;
      font-weight: 500;
    }
    &-info {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-height: 85px;
    }
    &-link {
      margin-left: 45px;
    }
  }
}
@media (max-width: 1190px) {
  .footer__col--size-small {
    max-width: 150px;
  }
}
@media (max-width: 1065px) {
 .footer__row {
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: baseline;
 }
  .footer__link {
    margin-left: 0;
    transform: translateY(0);
    margin-top: 40px;
  }
  .footer__col {
    max-width: 32%;
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .footer__col:nth-child(3) {
    order: -1;
  }
  .footer__col {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .footer__link {
    margin-top: 0;
  }
}
@media (max-width: 650px) {
  .footer__copyright-link {
    margin-left: 20px;
  }
}
@media (max-width: 555px) {
  .footer__copyright-info {
    display: block;
    text-align: center;
    min-height: auto;
    padding: 20px 0;
  }
  .footer__copyright-icons {
    margin-top: 10px;
  }
  .footer__copyright-link:first-child {
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  .footer__copyright--open {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
  }
}
@media (max-width: 400px) {
  .footer__link {
    width: 100%;
    text-align: center;
  }
  .footer__row {
    padding: 30px 0;
  }
}
@media (max-width: 355px) {
  .footer__copyright-text {
    font-size: 14px;
    line-height: 18px;
  }
}
