section.recommendation
  .recommendation__bg(style="background-image: url(static/images/content/recommendation/recommendation-men.jpg)")
    .container
      .recommendation__inner
        p.recommendation__text I registered my company in Estonia thanks to Anson Baer. Because of their professional team and easy processes I was able to lower my company’s costs and noticeably increase our income.
        .recommendation__info
          span.recommendation__name Lars Larsson
          span.recommendation__desc CEO of Switzerland’s cryptocurrency investment company CCIC
