section.recommendation
  .recommendation__bg
    .container
      img(src="static/images/content/recommendation/recommendation-men.jpg").recommendation__image
      .recommendation__inner
        p.recommendation__text I registered my company in Estonia thanks to Anson Baer. Because of their professional team and easy processes I was able to lower my company’s costs and noticeably increase our income.
        .recommendation__info
          span.recommendation__name Lars Larsson
          span.recommendation__desc CEO of Switzerland’s cryptocurrency investment company CCIC
