section.slider
  .slider__bg(style="background-image: url(static/images/content/slider/slider-bg.jpg)")
    .container
      .slider__inner
        .slider__items(data-da="slider__mobile, last, 940")
          .slider__item
            a(href="#" data-id="1").slider__link DROPSHIPPING
          .slider__item
            a(href="#" data-id="2").slider__link PERSONAL <br> INVESTMENT <br> COMPANY
          .slider__item
            a(href="#" data-id="3").slider__link APPROVED
              | <br>SMALL
              | <br>INVESTMENT
              | <br>FUND
          .slider__item
            a(href="#" data-id="4").slider__link CRYPTO-
              | <br>CURRENCY
              | <br>INVESTMENT
              | <br>COMPANY
          .slider__item.slider__item--color-green
            a(href="#" data-id="5").slider__link START
              | <br>A COMPANY
              | <br>IN ESTONIA
          .slider__item
            a(href="#" data-id="6").slider__link TOURISM <br> COMPANY
          .slider__item
            a(href="#" data-id="7").slider__link TRADING <br> COMPANY
          .slider__item
            a(href="#" data-id="8").slider__link EMPLOYMENT
              | <br> CENTER
              | <br> COMPANY
        .slider__content
          .slider__box(data-content="1")
            h2.slider__title.title.title--wight-bold.title--color-green.title--line Dropshipping
            span.slider__text Ideal base for selling your companies products, direct to consumer, through platforms such as Amazon or Ebay, while benefiting from Estonia’s favourable tax regulations.
          .slider__box(data-content="2")
            h2.slider__title.title.title--wight-bold.title--color-green.title--line Personal Investment Fund
            span.slider__text Perfect for most kinds of investments, including stock market investments and lifestyle investments that aim to retain and grow your family’s wealth plans.
          .slider__box(data-content="3")
            h2.slider__title.title.title--wight-bold.title--color-green.title--line Approved Small Investment Fund
            span.slider__text An FSA approved investment fund structure that is an ideal vehicle for raising investments for up to 100 million euros.
          .slider__box(data-content="4")
            h2.slider__title.title.title--wight-bold.title--color-green.title--line Cryptocurrency Investment Company
            span.slider__text Perfect for risky cryptocurrency investments. Accounts can be opened with most crypto exchanges. Losses are not taxed while gains are only taxed on distribution of dividends.
          .slider__box(data-content="5")
            h2.slider__title.title.title--wight-bold.title--color-green.title--line You can gain <br> more from
            span.slider__subtitle.title.title--color-green investments stock markets cryptocurrencies
          .slider__box(data-content="6")
            h2.slider__title.title.title--wight-bold.title--color-green.title--line Tourism Company
            span.slider__text Create an approved tourism company that is authored to directly sell packages globally.
          .slider__box(data-content="7")
            h2.slider__title.title.title--wight-bold.title--color-green.title--line Trading Company
            span.slider__text Estonia is an ideal gateway for importing goods for distribution within any EU country. Profits held with in the Estonian holding company are not taxed. Alternatively Estonia also offers a perfect scenario for those trading with in the EU!
          .slider__box(data-content="8")
            h2.slider__title.title.title--wight-bold.title--color-green.title--line Employment Center Company
            span.slider__text Idea for hiring globally based, distant working or offshore employees. By effectively planning your total tax burden on salaries, it is possible to pay 0% salary taxes in Estonia if the work is completed outside of Estonia and the employee is not a registered Estonian tax resident.
      .slider__mobile
