section.why-us
  .container
    .why-us__row
      .why-us__col(data-da="content, 1, 972").why-us__col--decor
        h2.title.title--line.title--color-green.why-us__title Why Estonia
        ul.why-us__list
          li.why-us__item The perks of a small country connected with the excellent framework of European Union.
          li.why-us__item Advanced digital public services
          li.why-us__item Clear rules with low bueraucracy
          li.why-us__item Low startup and maintenance costs
          li.why-us__item EU and OECD member and a “white list” country
          li.why-us__item Good connections, with tax treaties with more than 60 countries
          li.why-us__item Possibility to apply for e-Residency and temporary residence permit
        a(href="#").link.why-us__link READ MORE
      .why-us__col
        h2.title.title--line.title--color-green.why-us__title Why us
        ul.why-us__list
          li.why-us__item We make handling complex financial problems fast, simple and secure by focusing on your goals and offering tailor-made solutions that deliver results.
          li.why-us__item 95% customer satisfaction
          li.why-us__item 12 years of experience
          li.why-us__item Äripäev 2019 top 2 in accounting turnover growth
          li.why-us__item member of the McMillan Woods Global Network
        a(href="#").link.why-us__link READ MORE
