footer.footer
  .container
    .footer__row
      .footer__col
        h2.footer__title General information
        ul.footer__list
          li.footer__item
            a(href="#").footer__item-link Why Estonia
          li.footer__item
            a(href="#").footer__item-link How to start an Estonian company
          li.footer__item
            a(href="#").footer__item-link Estonian taxes
          li.footer__item
            a(href="#").footer__item-link Estonian e-Residency
          li.footer__item
            a(href="#").footer__item-link Starting company knowledge base
          li.footer__item
            a(href="#").footer__item-link Frequently asked questions
      .footer__col
        h2.footer__title Services
        ul.footer__list
          li.footer__item
            a(href="#").footer__item-link Company formation
          li.footer__item
            a(href="#").footer__item-link Financial management
          li.footer__item
            a(href="#").footer__item-link Cryptocurrency ICO Advisory
          li.footer__item
            a(href="#").footer__item-link Accounting
          li.footer__item
            a(href="#").footer__item-link M&A
          li.footer__item
            a(href="#").footer__item-link Prices
      .footer__col.footer__col--size-small
        h2.footer__title About
        ul.footer__list
          li.footer__item
            a(href="#").footer__item-link Get in touch
          li.footer__item
            a(href="#").footer__item-link About us
      a(href="#").footer__link START A COMPANY
  .footer__copyright
    .container
      .footer__copyright-info
        span.footer__copyright-text Need consultancy? We are here to help!
        .footer__copyright-icons
          a(href="#").footer__copyright-link
            +icon('email', 'footer__copyright-icon')
          a(href="#").footer__copyright-link
            +icon('facebook', 'footer__copyright-icon')
          a(href="#").footer__copyright-link
            +icon('whatsapp', 'footer__copyright-icon')
